*{
	font-family: Century Gothic;
	font-weight: normal;
	overflow-x: hidden;
}

body{
	background-color: #3b6978;
}

.main{
	width: 75%;
	margin: auto;
}

.center_box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
	padding: 20px;
	background: transparent;
}

.center_box input[type=text], .center_box input[type=password]{
	width: 50%;
	font-size: 2vh;
	padding: 5px 20px;
	border-radius: 10px;
	border: 3px solid #e7dfd5;
	margin-bottom: 10px;
}

.center_box input[type=submit]{
	width: 25%;
	font-size: 2vh;
	padding: 5px 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	color: white;
	background: #84a9ac;
	border: none;
}

.center_box button{
	width: 25%;
	font-size: 2vh;
	padding: 5px 20px;
	border-radius: 10px;
	color: white;
	background: transparent;
	border: 2px solid #e7dfd5;
}

.center_box button:hover{
	border: 2px solid red;
}

.center_box h4 a{
	text-decoration: none;
}

.center_box h4 a:hover{
	color: white;
}

.button1{
	color: blue;
}

.radio{
	font-size: 3vh;
	color: white;
	margin-left: 2vh;
}

.radio input[type="radio"]{
	height: 2vh;
	width: 3vh;
}